
.about
{
    position: absolute;
    top: 600px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 60px;
    color: #00897B;
    font-weight: bolder;
    font-size:xx-large;
}
   

.about-section {
    margin-bottom: 30px;
}

ul {
    list-style: none;
    padding: 0;
}

footer {
    text-align: center;
    margin-top: 40px;
    padding: 10px;
    background-color: #333;
    color: #fff;
}
