<mat-toolbar class="header">
    <span class="mat-toolbar-row">
        <img style="width: 35px; height:35px;" src="/assets/images/logo1.png" alt="Company Logo" class="logo">
        <h1 style="position: relative; left:25px; font-size: larger" class="mat-toolbar-title">My Trello</h1>
        <nav class="mat-toolbar-nav">
            <span class="home-button">
                <a style="position: relative; left: 60px; font-size: medium" mat-button routerLink="/login">Home</a>
            </span>
            <span class="about-button">
            <a style="position: relative; left: 90px; font-size: medium" mat-button routerLink="/about">About</a>
            </span>
        </nav>
    </span>
</mat-toolbar>
