<div class="px-3 py-5">
    <div class="theme-container">
        <mat-card class="p-0 o-hidden">
            <div fxLayout="row wrap">
                <div fxFlex="100" fxFlex.gt-sm="50" class="p-0" [ngStyle]="{'background-image': bgImage}"
                    style="width: 200px; height: 200px; margin-top: 100px;" class="bg-cover"></div>
                <div fxFlex="100" fxFlex.gt-sm="50" class="py-3" [ngClass.xs]="'px-3'" [ngClass.sm]="'px-3'"
                    [ngClass.gt-sm]="'px-5'">
                    <div fxLayout="column" fxLayoutAlign="center center" class="text-center">
                        <h1 class="66"
                            style=" font-family: Montserrat;  font-weight: bold;  font-size: 30px; position:relative; top:10px; left:0px">Verify Your Email Adress!
                        </h1>
                        <p style=" font-size: 18px; position:relative; top:10px; left:0px">A Link has been sent to your email. Please verify it.</p>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>
